@charset "utf-8";
/* CSS Document */
body {
    background: none repeat scroll 0 0 #3D3D3D;
	}

.mainButtons {
	text-align:center;
	text-decoration:none;
	font-size:23px;
	font-weight:bold;
	width:200px;
	height:auto;
	float:left;
	margin:10px;
	padding:5px;
	vertical-align:central;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background:none repeat scroll 0 0 #E9EAEE;
    border:2px solid #FFFFFF;
	color:#333;
    box-shadow:1px 2px 6px rgba(0, 0, 0, 0.5);
	}

.mainButtons:focus {
	text-align:center;
	text-decoration:none;
	font-size:23px;
	font-weight:bold;
	width:200px;
	height:auto;
	float:left;
	margin:10px;
	padding:5px;
	vertical-align:central;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background:none repeat scroll 0 0 #E9EAEE;
	border: 2px solid #06C;
	color:#06C;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	}

.tvItem {
	width:80px;
	height:80px;
	float:left;
	margin-right:10px;
	border: 2px solid #FFFFFF;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	}

.tvItem:focus {
	border: 2px solid #06C;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	}

.itemsPage {
	background-color:#FFFFFF;
	margin:auto;
	width:1250px;
	height:655px;
	top:-2px;
	border:2px solid #FFFFFF;
	border-radius:0px 0px 10px 10px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	}